<div id="wrapper" class="clear">
    <div id="logo">
        <img src="/img/logo.png" />
    </div>

    <div id="cameraview">
        <p class="toplevelinfo">Here’s your picture! You cool with this?</p>

        <div class="camera-wrapper">
            <video id="video"></video>
            <canvas id="canvas"></canvas>
            <div id="countdown">
                <h2>5</h2>
            </div>
        </div>

        <div class="buttons">
            <div class="takephoto button"><p>TAKE PHOTO</p></div>
            <div class="keep button"><p>COOL WITH IT</p></div>
            <div class="restart button"><p>LET'S TRY IT AGAIN</p></div>
        </div>
    </div>

    <div id="error-photo">
        <p class="copy"> Uh oh! Looks like something went wrong. <br> Refresh the page and try again. </p>
        <div class="buttons">
            <div class="button back"><p>Exit</p></div>
        </div>
        <div class="divider"></div>
    </div>


    <div id="retake">
        <p class="copy"> Are you sure want to <br> retake your picture? </p>
        <div class="buttons">
            <div class="button back"><p>YES</p></div>
            <div class="button forward"><p>NO</p></div>
        </div>
        <div class="divider"></div>
    </div>

    <div id="retake-overlay"></div>


    <div id="choosedepartment">
        <p class="toplevelinfo">Choose the department you want to work in:</p>
        <ul class="clear">
            <li class="creative" data-dept="Creative" data-role="" data-description="You’ve chosen Creative! Creatives are the brains, eyes and pens behind the big idea. Creatives are typically copywriters, art directors, designers, or something in between.">
                <div>
                    <div class="photo"></div>
                    <p class="title">Creative</p>
                </div>
            </li>
            <li class="production" data-dept="Production" data-role="" data-description="You’ve chosen production! Agency producers work with outside vendors like directors and editors to bring ideas to life. Whether it’s a commercial, a website or an experience, a producer knows how to make it.">
                <div>
                    <div class="photo"></div>
                    <p class="title">Production</p>
                </div>
            </li>
            <li class="account" data-dept="Account" data-role="Account Manager" data-description="You’ve chosen account management! Account people are like professional mediators. They work with the clients and the creatives to keep everyone happy and make sure everything stays on track.">
                <div>
                    <div class="photo"></div>
                    <p class="title">Account</p>
                </div>
            </li>
            <li class="pr" data-dept="PR" data-role="PR Manager" data-description="You’ve chosen PR! The PR team is responsible for all agency communications. From social media to industry pubs like Adweek, they make sure everyone knows the cool stuff their agency is up to.">
                <div>
                    <div class="photo"></div>
                    <p class="title">PR</p>
                </div>
            </li>
            <li class="strategy" data-dept="Strategy" data-role="Strategist" data-description="You’ve chosen strategy! As a strategist, you’ll conduct research like surveys and focus groups to better understand consumers. Then, you’ll report back to the agency to make sure the ads they make are right on target.">
                <div>
                    <div class="photo"></div>
                    <p class="title">Strategy</p>
                </div>
            </li>
            <li class="other" data-dept="Other" data-role="" data-description="You’re a unicorn! Your talents don’t fit into a box, or maybe you aren’t sure which box they fit into yet. But don’t worry. Every agency needs a little magic.">
                <div>
                    <div class="photo"></div>
                    <p class="title">Other</p>
                </div>
            </li>
        </ul>
    </div>

    <div id="chooserole">
        <div>
            <div class="photo"></div>
            <p class="description"></p>
        </div>
        <h2>Tell us the role you want to have:</h2>
        <ul class="roles clear creative">
            <li data-role="designer" class="designer">Designer</li>
            <li data-role="artdirector" class="artdirector no">Art Director</li>
            <li data-role="copywriter" class="copywriter">Copywriter</li>
            <li data-role="illustrator" class="illustrator no">Illustrator</li>
            <li data-role="uxdesigner" class="uxdesigner">UX Designer</li>
            <li data-role="creativetechnologist" class="creativetechnologist no">Creative Technologist</li>
            <li data-role="motiondesigner" class="motiondesigner">Motion Designer</li>
            <li data-role="threedartist" class="threedartist no">3D Artist</li>
        </ul>
        <ul class="roles clear production">
            <li data-role="filmproducer" class="filmproducer">Film Producer</li>
            <li data-role="printproducer" class="printproducer no">Print Producer</li>
            <li data-role="interactiveproducer" class="interactiveproducer">Interactive Producer</li>
            <li data-role="generalproduction" class="generalproduction no">General Production</li>
            <li data-role="editor" class="editor">Editor</li>
            <li data-role="animator" class="animator no">Animator</li>
        </ul>
        <ul class="roles clear other">
            <li class="other">
                <input class="other" type="text" name="role" value="" placeholder="Unicorn" />
            </li>
        </ul>
        <div class="clear">
            <div class="buttons">
                <div class="next button"><p>NEXT</p></div>
                <div class="back button"><p>BACK</p></div>
            </div>
        </div>
    </div>

    <div id="entercontact">
        <form>
            <ul>
                <li class="form-first-name">
                    <div>
                        <h2>FIRST NAME</h2>
                        <input class="firstname field" type="text" name="firstname" value="" placeholder="Joe"  maxlength="16" />
                        <div class="underline"></div>
                        <p class="error-state error-empty">Something ain’t right with this empty field</p>
                    </div>
                </li>
                <li class="form-last-name">
                    <div>
                        <h2>LAST NAME</h2>
                        <input class="lastname field" type="text" name="lastname" value="" placeholder="Citizen"  maxlength="16" />
                        <div class="underline"></div>
                        <p class="error-state error-empty">Something ain’t right with this empty field</p>
                    </div>
                </li>
                <li class="form-education">
                    <div>
                        <h2>EDUCATION</h2>
                        <input class="education field" type="text" name="education" value="" placeholder="College of Cute & Cuddly Arts"  maxlength="30" />
                        <div class="underline"></div>
                        <p class="error-state error-empty">Something ain’t right with this empty field</p>
                    </div>
                </li>
                <li class="form-city">
                    <div>
                        <h2>CITY</h2>
                        <input class="city field" type="text" name="city" value="" placeholder="Brooklyn, New York"  maxlength="26" />
                        <div class="underline"></div>
                        <p class="error-state error-empty">Something ain’t right with this empty field</p>
                    </div>
                </li>
                <li class="form-email">
                    <div>
                        <h2>EMAIL</h2>
                        <input class="email field" type="email" name="email" value="" placeholder="smalldog@gmail.com"  maxlength="30" required />
                        <div class="underline"></div>
                        <p class="error-state error-email">Something ain’t right with this address</p>
                    </div>
                </li>
                <li class="form-site">
                    <div>
                        <div class="radio-group">
                              <h2>WEBSITE/SOCIAL</h2>
                                <label class="choice url"><h2>URL</h2>
                                  <input type="radio" name="socialtype" checked value="url" >
                                  <span class="checkmark"></span>
                                </label>
                                <label class="choice twitter"><h2>TWITTER</h2>
                                  <input type="radio" name="socialtype" value="twitter"  >
                                  <span class="checkmark"></span>
                                </label>
                                <label class="choice instagram"> <h2>INSTAGRAM</h2>
                                  <input type="radio" name="socialtype"  value="instagram" >
                                  <span class="checkmark"></span>
                                </label>
                        </div>
                        <div class="pre-placeholder">www.</div>
                         <input class="social" type="text" placeholder="jcitizen.com" name="social" maxlength="30" />
                         <div class="underline"></div>
                        <p class="error-state error-empty">Something ain’t right with this empty field</p>
                    </div>
                </li>
                <li class="form-spirit-animal">
                    <div>
                        <h2>SPIRIT ANIMAL</h2>
                        <input class="spiritanimal field" type="text" name="spiritanimal" value="" placeholder="Golden Retreiver Puppy"  maxlength="26" />
                         <div class="underline"></div>
                        <p class="error-state error-empty">Something ain’t right with this empty field</p>
                    </div>
                </li>
                  <li class="form-linkedin">
                    <div>
                        <input class="checkbox field" type="checkbox" name="linkedin" value=""/>
                        <h2>I'M ON LINKEDIN</h2>
<!--                         <p class="error-state error-empty">Something ain’t right with this empty checkbox</p>
 -->                    </div>
                </li>
                <li class="form-release">
                    <div class="release-input">
                        <input class="checkbox field" type="checkbox" name="release" value=""/>
                        <div class="release-group">
                            <h2>PHOTO RELEASE DISCLAIMER</h2>
                            <p> I agree to allow Droga5, LLC (and its related parties, third-party partners, and those working for them) (collectively, "Droga5") to collect and use my answers, my photo, my email, and any other information I submit for the purpose of sending me my Rookie Card, reaching out to me about the Rookie Card initiative or other potential future initiatives, and for any other purpose that Droga5 deems appropriate relating to the Rookie Card initiative or other similar initiatives.</p>
                        </div>
                        <p class="error-state error-empty">Something ain’t right with this empty checkbox</p>
                    </div>
                </li>
            </ul>
        </form>
        <div class="clear">
            <div class="buttons">
                <div class="next button off"><p>NEXT</p></div>
                <div class="back button"><p>BACK</p></div>
            </div>
        </div>
    </div>
    <img class="loader" src="/img/logo_faster1.gif">
    <div id="finalcard">
        <p class="toplevelinfo">Here’s your Rookie Card! Click below to send your card to your email, and make sure to look out for a website where we’ll post your card for agencies everywhere to see.</p>
        <div class="tradingcard-wrapper">
            <div class="tradingcard">
                <img src="" crossorigin="Anonymous" class="photo" />
                <div class="mask"></div> <!-- This is the card you picked/that image -->
                <p class="role">Designer</p>
                <p class="firstname">Chris</p>
                <p class="lastname">Allick</p>
            </div>
        </div>
        <div class="clear">
            <div class="buttons">
                <div class="done button off"><p>GIMME MY CARD</p></div>
            </div>
        </div>
    </div>

    <div id="thankyou">
        <div class="finallogo"></div>
        <p>WOOP! WOOP!<br>
        Your card is sent,<br>
        thanks for participating!</p>
    </div>


</div>



