<!DOCTYPE html>
<html>
    <head>
        <title>HAATBP</title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <link href='/css/reset.css' media='all' rel='stylesheet' type='text/css' />
        <link href='./css/main.css' media='all' rel='stylesheet' type='text/css' />
     
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">

        <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.120.0.min.js"></script>
        <script src="/js/jquery-2.1.1.min.js"></script>
        
        <script src='/js/main.js' type='text/javascript'></script>
        <script src='/js/plugins.js' type='text/javascript'></script>
    </head>
    <body class="orange">
        <p id="customfont_one">cool</p>
        <p id="customfont_two">cool</p>
        <%= yield %>
    </body>
</html>
