/*
	global
*/
html, body { width: 100%; height: 100%; }
body { transition: background-color 300ms linear; }
body.grey { background-color: #f4f4f4; }
body.creative { background-color: #ffac0f; }
body.production { background-color: #ff385c; }
body.pr { background-color: #65cdba; }
body.account { background-color: #62d2ec; }
body.strategy { background-color: #ff5840; }
body.other { background-color: #ebb8de; }
body.last { background-color: #97d34e; }
body.white {background-color: #fff !important}

* { box-sizing: border-box; -webkit-backface-visibility: hidden; }

::-webkit-file-upload-button { cursor:pointer; }

#customfont_one { font: 300 14px 'Rubik'; position: absolute; top: -1000px; left: -1000px; }
#customfont_two { font: 400 14px 'Rubik'; position: absolute; top: -1000px; left: -1000px; }
#customfont_three { font: 500 14px 'Rubik'; position: absolute; top: -1000px; left: -1000px; }
#customfont_four { font: 700 14px 'Rubik'; position: absolute; top: -1000px; left: -1000px; }

/*
	wrapper
*/
#wrapper { position: relative; width: 100%; padding-top: 100px; min-height: 100%; } /*height: 100%; */

/*
	logo
*/
#logo { position: absolute; width: 413px; height: 306px; top: calc(50% - (306px / 2)); left: calc(50% - (413px / 2));
	-webkit-transition: top 1s ease-in-out, left 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
}
#logo.small { width: calc(413px * .2); height: calc(306px * .2); top: 26px; left: calc(50% - ((413px * .2) / 2)); }
#logo img { display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

/*
	camera
*/
#cameraview { width: 580px; margin: 0px auto 28px auto; overflow: hidden; opacity: 0; 
	-webkit-transition: opacity 1s ease-in-out;
} /*padding-top: 40px; */
#cameraview.on { opacity: 1; }
#cameraview .toplevelinfo { opacity: 0; text-align: center; font: 500 22px Rubik; color: #424242; margin-bottom: 24px;
	transition: opacity .750s ease-in-out;
}
#cameraview .toplevelinfo.on { opacity: 1; transition: opacity .750s ease-in-out; }

#cameraview .camera-wrapper { border-radius: 30px; background: #d8d8d8; width: 480px; height: 640px; margin: 0px auto 50px auto; position: relative; overflow: hidden; }

#video { 
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;


/*  position: absolute; display: block; width: calc(896px *.67); height: calc(672px *.67); left: calc(50% - (600px / 2)); z-index: 10;
*/   }

/* flip for laptop */
.desktop #video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


#canvas { position: absolute; display: none; width: 480px; height: 640px; top: 0px; left: 0px; z-index: 10; }
#countdown { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 100; padding-top: 50px; opacity: .5; }
#countdown h2 { color: white; font: 400 470px Rubik; text-align: center; }

#cameraview .buttons { display: none; width: 528px; height: 100px; margin: 0 auto; }
#cameraview .buttons .button.takephoto { cursor: pointer; margin: 0 auto; width: 252px; height: 73px; background-color: #9acf5e; border-radius: 10px; padding-top: 25px; }
#cameraview .buttons .button.takephoto p { text-align: center; color: #f4f4f4; font: 400 20px Rubik; }
.desktop #cameraview .buttons .button.takephoto:hover { background-color: #f4f4f4; }
.desktop #cameraview .buttons .button.takephoto:hover p { color: #9acf5e; }
#cameraview .buttons .button.keep, #cameraview .buttons .button.restart { display: none; }
#cameraview .buttons .button.keep { cursor: pointer; float: right; width: 252px; height: 73px; background-color: #9acf5e; border-radius: 10px; padding-top: 25px;  }
#cameraview .buttons .button.keep p { text-align: center; color: #f4f4f4; font: 400 20px Rubik; }
#cameraview .buttons .button.keep p:before {
    height: 28px;
    width: 28px;
    content: url(../img/check.png);
    margin-right: 10px;
    display: inline-block;
}
.desktop #cameraview .buttons .button.keep p:hover:before {
  opacity: 0;
}
.desktop #cameraview .buttons .button.keep:hover { background: #f4f4f4 }
.desktop #cameraview .buttons .button.keep:hover p { color: #9acf5e; }
#cameraview .buttons .button.restart { cursor: pointer; float: left; width: 252px; height: 73px; background-color: transparent; border-radius: 10px; padding-top: 25px; position: relative  }
#cameraview .buttons .button.restart p { text-align: center; color: #cd4947; font: 400 20px Rubik; }
#cameraview .buttons .button.restart p:before  { 
    content: url(../img/x.png);
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    left: 0;
 }
.desktop #cameraview .buttons .button.restart:hover p { text-decoration: underline; }

/*
	choose department
*/
#choosedepartment { display: none; width: 480px; margin: 0 auto; padding-top: 100px; }
#choosedepartment .toplevelinfo { opacity: 0; text-align: center; font: 500 22px Rubik; color: #424242; margin-bottom: 50px;
	transition: opacity .750s ease-in-out;
}
#choosedepartment .toplevelinfo.on { opacity: 1; transition: opacity .750s ease-in-out; }
#choosedepartment ul li { cursor: pointer; width: 240px; float: left; margin-bottom: 50px; }
#choosedepartment ul li .photo { width: 100px; height: 100px; margin: 0px auto 14px auto; border-radius: 50% 50%; }
#choosedepartment ul li.creative .photo { background: url("../img/creative_dept.png") center center no-repeat; background-size: cover; }
#choosedepartment ul li.production .photo { background: url("../img/production_dept.png") center center no-repeat; background-size: cover; }
#choosedepartment ul li.account .photo { background: url("../img/account_dept.png") center center no-repeat; background-size: cover; }
#choosedepartment ul li.pr .photo { background: url("../img/pr_dept.png") center center no-repeat; background-size: cover; }
#choosedepartment ul li.strategy .photo { background: url("../img/strategy_dept.png") center center no-repeat; background-size: cover; }
#choosedepartment ul li.other .photo { background: url("../img/other_dept.png") center center no-repeat; background-size: cover; }
#choosedepartment ul li .title { text-align: center; font: 500 22px Rubik; color: #6d6d6d; }


/*
	choose role
*/
#chooserole { display: none; width: 660px; margin: 0 auto; padding-top: 100px; }
#chooserole .photo { width: 140px; height: 140px; border-radius: 50% 50%; margin: 0px auto 40px auto; }
#chooserole .description { text-align: center; font: 500 20px Rubik; margin-bottom: 40px; line-height: 30px; } /*opacity: .5;*/
#chooserole h2 { display: none; text-align: left; font: 500 21px Rubik; margin-bottom: 30px; color: white; text-transform: uppercase; }
#chooserole .roles { display: none; width: 100%; margin-bottom: 50px; }
#chooserole .roles li { margin: 0px 50px 20px 0px; cursor: pointer; width: 305px; float: left; height: 60px; border-radius: 10px; border: 3px solid white; font: 400 26px Rubik; color: white; padding: 12px; }
#chooserole .roles li.no { margin-right: 0px; }

/*#chooserole .roles li:hover { border-color: black; color: black; }
*/
.desktop .creative #chooserole .roles li:hover {
  color: #6F470C;
  border-color: #6F470C;
}
.desktop .pr #chooserole .roles li:hover {
  color: #226A5E;
  border-color: #226A5E;
}
.desktop .account #chooserole .roles li:hover {
  color: #087D95;
  border-color: #087D95;
}
.desktop .strategy #chooserole .roles li:hover {
  color: #8B2015;
  border-color: #8B2015;
}
.desktop .production #chooserole .roles li:hover  {
  color: #920F26;
  border-color: #920F26;
}
.desktop .other #chooserole .roles li:hover  {
  color: #A4478C;
  border-color: #A4478C;
}

#chooserole .buttons {  width: 528px; height: 100px; margin: auto;  } /*float: right;*/
#chooserole .buttons .button.back { float: right; cursor: pointer; width: 252px; height: 73px; background-color: #FFFFFF; border-radius: 10px; padding-top: 25px; }

.creative #chooserole .buttons .button.back, .creative #chooserole .buttons .button.next {
  color: #6F470C;
}
.pr #chooserole .buttons .button.back, .pr #chooserole .buttons .button.next  {
  color: #226A5E;
}
.account #chooserole .buttons .button.back, .account #chooserole .buttons .button.next  {
  color: #087D95;
}
.strategy #chooserole .buttons .button.back, .strategy  #chooserole .buttons .button.next {
  color: #8B2015;
}
.production #chooserole .buttons .button.back, .production #chooserole .buttons .button.next  {
  color: #920F26;
}
.other #chooserole .buttons .button.back, .other #chooserole .buttons .button.next  {
  color: #A4478C;
}
#chooserole .buttons .button.back p { text-align: center; font: 400 20px Rubik; }
.desktop #chooserole .buttons .button.back:hover { background:transparent; color: #fff; }
/*#chooserole .buttons .button.back:hover p { color: white; }*/
#chooserole .buttons .button.next { display: none; margin-left: 20px; float: right; cursor: pointer; width: 252px; height: 73px; background-color: #FFFFFF; border-radius: 10px; padding-top: 25px; }
#chooserole .buttons .button.next p { text-align: center; font: 400 20px Rubik; }
.desktop #chooserole .buttons .button.next:hover { background: transparent; color: #fff; }
/*#chooserole .buttons .button.next:hover p { color: white; }*/
#chooserole.other .buttons .button.next { display: block; }
#chooserole.account .buttons .button.next { display: block; }
#chooserole.strategy .buttons .button.next { display: block; }
#chooserole.pr .buttons .button.next { display: block; }

#chooserole.creative .photo { background: url("../img/creative_dept.png") center center no-repeat; background-size: cover; }
#chooserole.production .photo { background: url("../img/production_dept.png") center center no-repeat; background-size: cover; }
#chooserole.account .photo { background: url("../img/account_dept.png") center center no-repeat; background-size: cover; }
#chooserole.pr .photo { background: url("../img/pr_dept.png") center center no-repeat; background-size: cover; }
#chooserole.strategy .photo { background: url("../img/strategy_dept.png") center center no-repeat; background-size: cover; }
#chooserole.other .photo { background: url("../img/other_dept.png") center center no-repeat; background-size: cover; }


#chooserole.creative .roles.creative { display: block; }
#chooserole.production .roles.production { display: block; }
#chooserole.other .roles.other { display: block; }
#chooserole.creative h2, #chooserole.production h2, #chooserole.other h2 { display: block; }
#chooserole.other li { border: none; border-radius: 100%; width: 100%; padding: 0px 0px 0px 0px; }
#chooserole.other .roles li input { padding: 11px; background: none; border: none; border-bottom: 2px solid white; width: 100%; color: white; font: 400 20px Rubik; outline: none; margin-bottom: 20px }
/*#chooserole.other .roles input::-webkit-input-placeholder { color: black; opacity: .5; }
*/#chooserole.other .roles input:focus::-webkit-input-placeholder { opacity: 0; }

.desktop .creative #chooserole.other .roles input::-webkit-input-placeholder  :hover {
  color: #6F470C;
}
.desktop .pr #chooserole.other .roles input::-webkit-input-placeholder :hover {
  color: #226A5E;
}
.desktop .account #chooserole.other .roles input::-webkit-input-placeholder :hover {
  color: #087D95;
}
.desktop .strategy #chooserole.other .roles input::-webkit-input-placeholder :hover {
  color: #8B2015;
}
.desktop .production #chooserole.other .roles input::-webkit-input-placeholder :hover {
  color: #920F26;
}
.desktop .other #chooserole.other .roles input::-webkit-input-placeholder  :hover {
  color: #A4478C;
}

/*
	enter contact info
*/
#entercontact { display: none; width: 660px; margin: 0 auto; padding-top: 100px; }
#entercontact ul { margin-bottom: 40px; }
#entercontact ul li { margin-bottom: 40px; }
#entercontact ul li div { position: relative;}
#entercontact ul li h2 { font: 500 20px Rubik; color: white; margin-bottom: 10px; }
#entercontact ul li input { position: relative; background: none; border: none;  width: 100%; padding: 0px 10px 10px 0; color: white; font: 700 20px Rubik; outline: none; }
#entercontact ul li input::-webkit-input-placeholder { color: black; opacity: .5; }

#entercontact ul li.form-site input.social { 
  margin-left: 59px;
}

#entercontact ul li .underline{ width: 100%; height: 2px; background-color: #fff; width: 100%;}
#entercontact ul li p.error-state { 
    position: absolute;
    bottom: -26px;
    font: 500 20px Rubik; 
    font-size: 16px;
    font-weight: 400;
    display: none;
 }
 #entercontact ul li .release-input p.error-state { 
    bottom: -67px;
 }
 #entercontact ul li .radio-group { 
    display: flex;
 }
  #entercontact ul li .radio-group input{ 
    width: auto;
    margin: 2px 9px 0 40px;
 }

#entercontact ul li .choice h2 {
  margin-bottom: 0px;
}

 /* check LinkedIn styling*/
  #entercontact ul li.form-linkedin {
    padding-top: 10px;
}
 #entercontact ul li.form-linkedin > div  {
    display: flex;
}
#entercontact ul li.form-linkedin h2 {
    padding: 3px 0px 0px 12px;
}



 /* radio button styling*/
 #entercontact ul li .choice {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* Hide the browser's default radio button */
#entercontact ul li .choice input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
#entercontact ul li .checkmark {
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 8px;
}

.creative #entercontact ul li .checkmark {
    border: 2px solid #6F470C;
}
.pr #entercontact ul li .checkmark {
    border: 2px solid #226A5E;
}
.account #entercontact ul li .checkmark {
    border: 2px solid #087D95;
}
.strategy #entercontact ul li .checkmark {
    border: 2px solid #8B2015;
}
.production #entercontact ul li .checkmark {
    border: 2px solid #920F26;
}
.other #entercontact ul li .checkmark {
    border: 2px solid #A4478C;
}

/* On mouse-over, add a grey background color */
#entercontact ul li .choice:hover input ~ .checkmark {
    opacity: .5;
}

/* When the radio button is checked, add a blue background */
#entercontact ul li .choice input:checked ~ .checkmark {
    background-color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
#entercontact ul li .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
#entercontact ul li .choice input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
#entercontact ul li .choice .checkmark:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
}
.creative #entercontact ul li .choice .checkmark:after {
    background: #6F470C;
}
.pr #entercontact ul li .choice .checkmark:after {
    background: #226A5E;
}
.account #entercontact ul li .choice .checkmark:after {
    background: #087D95;
}
.strategy #entercontact ul li .choice .checkmark:after {
    background: #8B2015;
}
.production #entercontact ul li .choice .checkmark:after {
    background: #920F26;
}
.other #entercontact ul li .choice .checkmark:after {
    background: #A4478C;
}

.creative #entercontact ul li input::-webkit-input-placeholder { color: #6F470C; opacity: .3; }
.pr #entercontact ul li input::-webkit-input-placeholder { color: #226A5E; opacity: .3; }
.account #entercontact ul li input::-webkit-input-placeholder { color: #087D95; opacity: .3; }
.strategy #entercontact ul li input::-webkit-input-placeholder { color: #8B2015; opacity: .3; }
.production #entercontact ul li input::-webkit-input-placeholder { color: #920F26; opacity: .3; }
.other #entercontact ul li input::-webkit-input-placeholder { color: #A4478C; opacity: .3; }

#entercontact ul li .pre-placeholder {
    position: absolute;
    bottom: 12px;
    opacity: .4;
    font: 700 20px Rubik;
}



#entercontact ul li input:focus::-webkit-input-placeholder { opacity: 0; }
#entercontact .buttons { /*display: none;*/ width: 528px; height: 100px; float: right; }
#entercontact .buttons .button.next { cursor: pointer; float: right; margin-left: 20px;  width: 252px; height: 73px; background-color: #FFFFFF; border-radius: 10px; padding-top: 25px; }

.desktop .creative #entercontact .buttons .button.next, .creative #entercontact .buttons .button.next.off:hover, .creative #entercontact ul li .pre-placeholder  {
  color: #6F470C;
}
.desktop .pr #entercontact .buttons .button.next, .pr #entercontact .buttons .button.next.off:hover, .pr #entercontact ul li .pre-placeholder  {
  color: #226A5E;
}
.desktop .account #entercontact .buttons .button.next, .account #entercontact .buttons .button.next.off:hover, .account #entercontact ul li .pre-placeholder  {
  color: #087D95;
}
.desktop .strategy #entercontact .buttons .button.next, .strategy #entercontact .buttons .button.next.off:hover , .strategy #entercontact ul li .pre-placeholder {
  color: #8B2015;
}
.desktop .production #entercontact .buttons .button.next, .production #entercontact .buttons .button.next.off:hover, .production #entercontact ul li .pre-placeholder  {
  color: #920F26;
}
.desktop .other #entercontact .buttons .button.next, .other #entercontact .buttons .button.next.off:hover, .other #entercontact ul li .pre-placeholder  {
  color: #A4478C;
}

#entercontact .buttons .button.next.on {  border-style: none !important; }


#entercontact .buttons .button.next p { text-align: center; font: 500 20px Rubik; }
.desktop #entercontact .buttons .button.next:hover { background: transparent; color: #fff; }
.desktop #entercontact .buttons .button.next:hover p {}
#entercontact .buttons .button.next.off { cursor: default; border: 3px solid rgba(0,0,0,.5); background-color: transparent;}
.desktop #entercontact .buttons .button.next.off:hover {}
.desktop #entercontact .buttons .button.next.off:hover p { }
#entercontact .buttons .button.back { float: right; cursor: pointer; width: 252px; height: 73px; color: #fff; border-radius: 10px; padding-top: 25px; }
#entercontact .buttons .button.back p { text-align: center; color: #fff; font: 500 20px Rubik; }
.desktop #entercontact .buttons .button.back:hover { color: #000; opacity: .5;}
.desktop #entercontact .buttons .button.back:hover p { color: #000; }




.creative ul li input.checkbox, .creative ul li p.error-state {
  color: #6F470C;
}
.pr ul li input.checkbox, .pr ul li p.error-state {
  color: #226A5E;
}
.account ul li input.checkbox, .account ul li p.error-state {
  color: #087D95;
}
.strategy ul li input.checkbox , .strategy ul li p.error-state{
  color: #8B2015;
}
.production ul li input.checkbox, .production ul li p.error-state {
  color: #920F26;
}
.other ul li input.checkbox, .other ul li p.error-state {
  color: #A4478C;
}
#entercontact ul li input.checkbox:checked::before {
	height: 30px;
	width: 30px;
	position: absolute;
	content: url(../img/check.png);
	display: inline-block;
	left: 6px;
}
#entercontact ul li input.checkbox:checked::after {
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

 /* radio button styling*/

 /*Disclaimer */
#entercontact ul li input.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #000;
  opacity: .5;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  top: -5px;
  padding: 10px 10px 0 0;
  display: inline-block;
  vertical-align: top;
}

.release-input .release-group {
   margin-bottom: 40px;
   display: inline-block;
   width: 90%;
   text-align: left;
}

/* #entercontact ul li.form-release h2 {
    margin-bottom: 10px; 
}
*/

.release-input p {
    font: 400 13px Rubik;
    line-height: 23px;
    color: black;
    margin-top: 15px;
}




/*
	final card
*/
#finalcard { display: none; width: 612px; margin: 0 auto; position: relative; margin-top: 10px; opacity: 0;}
#finalcard .toplevelinfo { text-align: center; font: 500 20px Rubik; margin-bottom: 20px; line-height: 30px;  }
#finalcard .tradingcard-wrapper { width: 612px; height: 612px; margin: 0px auto 70px auto; position: relative; }
#finalcard .tradingcard-wrapper .tradingcard { position: absolute; top: 20px; left: 0px; width: 612px; height: 612px; }
#finalcard .tradingcard-wrapper .tradingcard .photo { position: absolute; top: 57px; left: 124px; z-index: 1; width: 278px;
    transform: rotate(-6.5deg);
}

/*#finalcard .tradingcard .mask.creative { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_creative.png") center center no-repeat; z-index: 10; }
#finalcard .tradingcard .mask.production { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_production.png") center center no-repeat; z-index: 10; }
#finalcard .tradingcard .mask.strategy { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_strategy.png") center center no-repeat; z-index: 10; }
#finalcard .tradingcard .mask.pr { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_pr.png") center center no-repeat; z-index: 10; }
#finalcard .tradingcard .mask.account { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_account.png") center center no-repeat; z-index: 10; }
#finalcard .tradingcard .mask.other { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_other.png") center center no-repeat; z-index: 10; }

*/

.creative #finalcard .tradingcard .mask { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_creative.png") center center no-repeat; z-index: 10; }
.production #finalcard .tradingcard .mask { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_production.png") center center no-repeat; z-index: 10; }
.strategy #finalcard .tradingcard .mask { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_strategy.png") center center no-repeat; z-index: 10; }
.pr #finalcard .tradingcard .mask { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_pr.png") center center no-repeat; z-index: 10; }
.account #finalcard .tradingcard .mask { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_account.png") center center no-repeat; z-index: 10; }
.other #finalcard .tradingcard .mask { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; background: url("../img/trading_card_mask_other.png") center center no-repeat; z-index: 10; }



#finalcard .buttons { width: 612px; height: 100px; float: right; }
#finalcard .buttons .button.done { cursor: pointer; margin: 0 auto;  width: 252px; height: 73px; background-color: #97d34e; border-radius: 10px; padding-top: 25px; }
#finalcard .buttons .button.done p { text-align: center; color: white; font: 400 20px Rubik; }
#finalcard .buttons .button.done p:before {
    height: 28px;
    width: 28px;
    content: url(../img/check.png);
    margin-right: 10px;
    display: inline-block;
}
.desktop #finalcard .buttons .button.done:hover { background: white; }
.desktop #finalcard .buttons .button.done:hover p { color: #97d34e; }
#finalcard .tradingcard-wrapper .tradingcard .role { overflow: hidden; position: absolute; bottom: 185px; right: 214px; transform: rotate(-6.6deg); font: 700 13px Rubik; z-index: 10; text-transform: uppercase; color: white; text-align: right; width: 185px; }
#finalcard .tradingcard-wrapper .tradingcard .firstname { overflow: hidden; position: absolute; bottom: 161px; right: 210px; transform: rotate(-6.6deg); font: 700 18px Rubik; z-index: 10; text-transform: uppercase; color: black; text-align: right; width: 183px; white-space: nowrap;}
#finalcard .tradingcard-wrapper .tradingcard .lastname { overflow: hidden; position: absolute; bottom: 140px; right: 207px; transform: rotate(-6.6deg); font: 700 18px Rubik; z-index: 10; text-transform: uppercase; color: black; text-align: right; width: 183px; white-space: nowrap;}


.loader {
    width: 200px;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
    display: none;
}

/*
	thank you
*/
#thankyou { display: none; width: 526px; margin: 0 auto; padding-top: 220px; }
#thankyou .finallogo { width: 306px; height: 224px; background: url("../img/final_logo.png") center center no-repeat; margin: 0px auto 60px auto; }
#thankyou p { text-align: center; color: white; font: 400 26px Rubik; margin-bottom: 10px; }


#finalcanvasdrawing { position: absolute; top: 0px; left: 0px; width: 612px; height: 612px; }

#retake {
    display: none;
    max-width: 650px;
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 4px #B2B2B2;
    top: 0px;
    z-index: 20;
    transform: translateY(-50%);
    top: 50%;
}

#retake p.copy {
    font: 500 24px 'Rubik';
    text-align: center;
    padding: 48px 0;
    line-height: 27px;
    border-bottom: 3px solid #979797;
}

#retake .buttons {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}

#retake .buttons .button {
  cursor: pointer;
  width: 100%;
}

#retake .buttons p {
    font: 500 24px 'Rubik';
    text-align: center;
    padding: 30px 0;
    line-height: 27px;
}

#retake .buttons .back{
    color: #99D157;
    border-bottom-left-radius: 9px;

}

#retake .buttons .forward{
    color: #CA4C4C;
    border-bottom-right-radius: 9px;
}

.desktop #retake .buttons .back:hover{
   background-color: #99D157;
   color: #fff;
}

.desktop #retake .buttons .forward:hover {
    background-color: #CA4C4C;
    color: #fff;
}


#retake .divider {
    position: absolute;
    border-left: 3px solid #979797;
    height: 89px;
    top: 0px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 3px;
    top: 150px;
}

#retake-overlay {
  display: none;
  opacity: .8;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 19;
  position: absolute;
}

#error-photo {
    display: none;
    max-width: 650px;
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 4px #B2B2B2;
    top: 0px;
    z-index: 20;
    transform: translateY(-50%);
    top: 50%;
}

#error-photo p.copy {
    font: 500 24px 'Rubik';
    text-align: center;
    padding: 48px 0;
    line-height: 27px;
    border-bottom: 3px solid #979797;
}

#error-photo .buttons {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}

#error-photo .buttons .button {
  cursor: pointer;
  width: 100%;
}

#error-photo .buttons p {
    font: 500 24px 'Rubik';
    text-align: center;
    padding: 30px 0;
    line-height: 27px;
}

#error-photo .buttons .back{
    color: #99D157;
    border-bottom-left-radius: 9px;

}

#error-photo .buttons .forward{
    color: #CA4C4C;
    border-bottom-right-radius: 9px;
}

.desktop #error-photo .buttons .back:hover{
   background-color: #99D157;
   color: #fff;
}

.desktop #error-photo .buttons .forward:hover {
    background-color: #CA4C4C;
    color: #fff;
}



#error-photo-overlay {
  display: none;
  opacity: .8;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 19;
  position: absolute;
}

